import React, { FC } from 'react';

const #componentName#: FC<React.DetailedHTMLProps<React.HTMLAttributes<HTMLDivElement>, HTMLDivElement>> = (rest) => {
    return <div
      style={{
        width: "1em",
        height: "1em",
        backgroundRepeat: "no-repeat",
        backgroundImage:`url("data:image/svg+xml,#iconContent#")`,
      }}
      {...rest}
    />
};

export default #componentName#;